html{
	font-family: open_sans;
}
body{
	height: auto !important;
}
section{
	position:relative;
	overflow:hidden;
	z-index: 3;
}
main {
    margin-top: 158px;
    padding: 1% 2.5%;
}
body.home.page,body.page-template-service{
	main{
		padding:0;
	}
}