
html{
	font-family: open_sans;
}

section{
	position:relative;
	overflow:hidden;
	z-index: 3;
}
main{
	margin-top: 158px;
	padding:0;
}
.wrap.container{
  overflow: hidden;
max-width: 100%;
margin: 0 auto;
box-sizing: content-box;
}
