.section-title {
    text-align: center;
    margin: 3rem 0;
    color: #fff;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 400;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
        vertical-align: top;
    }
}

.read-more {
    font-size: .85rem;
    text-decoration: none;
    color: #fff;
    			font-weight: 600;
}
.back-link{
color: #8659A8;
font-weight: 600;
text-decoration: none;
display: block;
margin-bottom: 6px;
font-size: 1.2em;}

.single-post .back-link{
    font-size: 1em;
    color:#000;
}
.menthalia-effect{
            transition: transform 1s;

        &:hover{
            transform: scale(1.2) rotate(30deg);
        }
        }
        .menthalia-effect1{
            transition: transform 1s;

        &:hover{
            transform: rotate(30deg);
        }
        }