// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         rgb(102, 45, 145);
$menubutton-hover-color:#93278F;
$menu-hover-color:		#d4bfe1;
$menubutton-active-color:		rgb(202, 76, 110);
$menu-active-color:		#ca4c6e;
$grey:					rgb(127, 127, 127);
// Theme Settings
$menu-fullheight:		158px;
$menu-width:			315px;
$menu-button-width:		74px;
$header-zindex:			99;
$menu-zindex:			999;
$homepage-container-width: 950px;
$areachild-text-width: 	720px;
$areachild-text-image: 	200px;
$areachild-breakpoint:	594px;