#responsive_menu_pro_button {
    @include scut-coords(0 0 n n);
    width: $menu-button-width;
    height: $menu-fullheight;
    padding: 0px;
    background-color: $brand-primary;
    z-index: $menu-zindex;
    &:hover {
        background-color: $menu-hover-color;
    }
    &.responsive_menu_pro_button_active {
        background-color: $menubutton-active-color;
    }
    #responsive_menu_x,
    #responsive_menu_pro_three_lines {
        @include absolute-centered(absolute);
    }
    #responsive_menu_x {
        font-size: 32px;
        font-weight: 600;
    }
    #responsive_menu_pro_three_lines {
        .responsive_menu_pro_button_line {
            height: 3px !important;
            margin-bottom: 5px !important;
            width: 75% !important;
        }
    }
}

#responsive_menu_pro {
    width: $menu-width;
    height: 100vh;
    padding: 0px;
    z-index: $header-zindex;    
    //box-sizing: border-box !important;
    padding-top: 148px;
    overflow-y: hidden;
    &.responsive_menu_pro_opened {
        position: absolute;
    }
    #responsive_menu_pro_title {
        width: $menu-width !important;
        height: $menu-fullheight;
        @include absolute(0 n n 0);
        right: -$menu-width;
        z-index: $menu-zindex;
        padding-right: $menu-button-width ! important;
        box-sizing: border-box !important;
        display: none;
        box-shadow: -2px 0px 8px -5px #333333;
        .responsive_menu_title_image {
            display: inline-block;
            max-width: 216px;
            vertical-align: middle;
            margin-right: 10px;
            @include vertical-centered(absolute);
        }
    }
    #menu-container {
        @include absolute( $menu-fullheight n 0 n);
        overflow-y: auto;
    }
    .responsive_menu_pro_menu li {
        height: 82px;
        &:hover {
            background-color: $menu-hover-color;
        }
        a {
            @include vertical-centered(absolute);
            text-transform: uppercase;
            text-align: center;
            border-top: medium none !important;
            &:hover {
                background-color: transparent !important;
            }
        }
    }
}

body.admin-bar {
    #responsive_menu_pro,
    #responsive_menu_pro_button {
        margin-top: 0 !important;
    }
    #responsive_menu_pro {        
        height: calc( 100vh - 32px );
        @media screen and ( max-width: 782px) {
            height: calc( 100vh - 48px );
        }
    }
}

#responsive_menu_pro .responsive_menu_pro_menu li.current-menu-item > a,
#responsive_menu_pro .responsive_menu_pro_menu li.current-menu-item > .responsive_menu_pro_append_link,
#responsive_menu_pro .responsive_menu_pro_menu li.current_page_item > a,
#responsive_menu_pro .responsive_menu_pro_menu li.current_page_item > .responsive_menu_pro_append_link {
    background: auto !important;
}

#responsive_menu_pro .responsive_menu_pro_menu li.current-menu-item {
    background: $menu-active-color;
}
