.banner {
	position: fixed;
	width: 100%;
    height: $menu-fullheight;
    background-color: #fff;
    z-index: $header-zindex;
    box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.48);
    >a{ text-decoration:none;}
    &.skrollable-after{
    	border-bottom: 2px solid #662d91;
    }
}

.site-claim {
    width: 100%;
    padding-right:  $menu-button-width;
	margin: 0px;
	@include vertical-centered();
    text-align: center;
    font-weight: 300;
    >p {
        margin: 0px;
    }
}
